Pillow
scipy
numpy
onnx
onnxruntime # or onnxruntime-gpu for CUDA, onnxruntime-directml for windows generic (bit buggy), onnxruntime-openvino (intel, extra steps to work on windows)
opencv-python
pyqt6
requests
pymatting