name: Build Executables

on:
  push:
    tags:
      - 'v*'

  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.config.os }}
    continue-on-error: true

    strategy:
      matrix:
        config:
          # Pin onnxruntime to 1.23 or 1.23.2 for now until pyinstaller plays well with 1.24
          # Linux Builds
          - { os: ubuntu-latest, provider: "cpu", ort_package: "'onnxruntime<1.24'", name: "linux-cpu" }
          - { os: ubuntu-latest, provider: "gpu", ort_package: "'onnxruntime-gpu<1.24'", name: "linux-nvidia" }
          - { os: ubuntu-latest, provider: "openvino", ort_package: "'onnxruntime-openvino<1.24'", name: "linux-intel-openvino" }
          # Windows Builds
          - { os: windows-latest, provider: "cpu", ort_package: "'onnxruntime<1.24'", name: "windows-cpu" }
          - { os: windows-latest, provider: "gpu", ort_package: "'onnxruntime-gpu<1.24'", name: "windows-nvidia" }
          - { os: windows-latest, provider: "directml", ort_package: "'onnxruntime-directml<1.24'", name: "windows-DX12-directml" }
          - { os: windows-latest, provider: "openvino", ort_package: "onnxruntime-openvino", name: "windows-openvino" }
          # macOS Build
          - { os: macos-latest, provider: "cpu", ort_package: "onnxruntime", name: "macos-cpu" }

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12' 

      - name: Install dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip
          pip install 'pyinstaller==6.17.0' 'pyinstaller-hooks-contrib==2025.10' 'pyqt6==6.10.1' ${{ matrix.config.ort_package }} 'pillow==12.0.0' 'numpy==2.2.6' 'opencv-python==4.12.0.88' 'requests==2.32.5' 'pymatting==1.1.14' 'onnx==1.20.0'

      - name: Build executable (Linux/Windows)
        if: runner.os != 'macOS'
        shell: bash
        run: |
          pyinstaller --clean build_win_linux.spec
          mkdir -p dist/Interactive-BG-Remover/Models
          mv Models/place_models_here.txt dist/Interactive-BG-Remover/Models/

      # dropped for now as i can't test, and splash screens don't work,
      # so i'm not sure how to let user know that pymatting is compiling, and the app hasn't crashed on first run
      #
      # - name: Build executable (macOS)
      #   if: runner.os == 'macOS'
      #   run: |
      #     # mac has issues with --onedir. this is a cpu only build so we can use onefile as it produces smaller binaries than CUDA etc.
      #     pyinstaller --clean build_mac.spec
      #     mkdir -p dist/mac-bundle/Models
      #     mv dist/Interactive-BG-Remover dist/mac-bundle/
      #     cp Models/place_models_here.txt dist/mac-bundle/Models/
      #     mv dist/mac-bundle dist/Interactive-BG-Remover

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: backgroundremover-${{ matrix.config.name }}
          path: dist/Interactive-BG-Remover


  create-release:
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest

    steps:
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Zip Release Assets
        run: |
          # Each artifact was downloaded into its own directory.
          # e.g., artifacts/backgroundremover-linux-cpu/
          # The contents of that directory are the build files.
          # We need to cd into each and zip its contents.
          for dir in artifacts/*; do
            if [ -d "$dir" ]; then
              (cd "$dir" && zip -r "../../$(basename "$dir").zip" .)
            fi
          done

      - name: Create Draft Release and Upload Assets
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          name: Release ${{ github.ref }}
          draft: true
          prerelease: false
          files: ./*.zip
